.App {
  text-align: left;
  margin-left: 30px;
}

nav a {
  margin: 6px;
  padding: 6px;
  text-decoration: none;
  color: #000;
}

nav a.active {
  font-weight: bold;
  background-color: lightgrey;
}