.App {
  text-align: left;
  margin: 0px 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a { 
  margin: 6px;
  padding: 6px;
  text-decoration: none;
  color: #000;
}

nav a.active {
  font-weight: bold;
  background-color: lightgrey;
}

nav a:hover {
  box-shadow:gray 1px 1px;
}

div.item-list {
  margin: 50px 10px;
}

div.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.item-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0px;
}

div.card-image {
  width: 165px;
  height: 250px;
  margin: 10px;
}

div.card-image.album{
  width: 200px;
  height: 200px;
}

div.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 40px 10px;
}

h2 {
  margin: 10px 0px;
}

h5 {
  margin: 10px 0px;
}

p, small {
  margin: inherit;
}

small {
  font-size: 13px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0px;
}

form label {
  margin: 10px 0px;
}

form input {
  margin: 0px 10px;
}

form button {
  margin: 10px 0px;
}

a.home-link {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-size: larger;
  font-weight: bold;
  margin: 40px 30px;
  padding: 10px;
  width: 300px;
  background-color: lightgray;
  letter-spacing: 10px;
  text-shadow: white 1px 1px;
}

a.home-link:hover {
  box-shadow:#000 2px 2px;
}

div.delete-button button {
  padding: 5px 10px;
  background-color: lightgray;
  border: none;
  opacity: 60%;
}

div.delete-button button:hover {
  box-shadow:black 1px 1px;
}

h1 {
  letter-spacing: 15px;
  text-shadow: gray 2px 2px;
  margin: 30px 10px 40px 10px;
}

div.home-body {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.home-body h4 {
  letter-spacing: 5px;
  font-size: 30px;
}

a {
  letter-spacing: 3px;
}